<h1>Sign up</h1>
<div class="row">
  <div class="panel-container col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Sign up", class: "btn btn-primary btn-wide" %>
    <% end %>

    <p class="new-user">Already a member? <%= link_to "Log in!", login_path %></p>
  </div>
</div>
