<%= link_to event_path(event) do %>
  <div class="event-main">
    <p class="event-location"><%= event.location %></p>
    <p class="event-date"><%= event.date.strftime("%a, %b %e %l:%M %p") %></p>
    <h2 class="event-title"><%= event.title %></h2>
    <p class="event-description"><%= event.description %></p>
  </div>
<% end %>

<!-- <i class="material-icons md-18">place</i> -->
<!-- <i class="material-icons md-18">date_range</i> -->
<!-- people -->
